.container {
    max-width: 600px;
    margin-top: 50px;
}

.img-preview {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
}

.caption-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
}
