.features {
    background-color: #6DA9F0; /* Features section background color */
    padding: 1rem;
    color: white;
}

.features h2 {
    margin: 0;
    font-size: 4vw;
    font-weight: 900;
    padding: calc(5vh + 1rem) 0 1rem 0;
    line-height: 1.0;
}