header {
    position: relative; /* Ensure positioning context for absolute child elements */
    background-image: url('../images/header-image.jpeg');
    background-size: cover; /* Make the background cover the entire header */
    background-position: center; /* Center the background image */
    padding: 2rem;
    text-align: center; /* Center the text */
    color: white;
    height: 100vh;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust color and opacity as needed */
    z-index: 1; /* Ensure the overlay is above the background image but below the text */
}

header h1 {
    margin: 0;
    font-size: 6vw;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: calc(25vh + 1rem) 0 1rem 0;
    line-height: 1.0;
    position: relative; /* Ensure it is above the ::before element */
    z-index: 2; /* Higher than the ::before element */
}

header p {
    margin: 0;
    font-size: 2vw;
    padding: 1rem 0 2rem 0;
    position: relative; /* Ensure it is above the ::before element */
    z-index: 2; /* Higher than the ::before element */
}

header button {
    background-color: #892A42;
    font-size: 1vw;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    border-radius: 5px;
    position: relative; /* Ensure it is above the ::before element */
    z-index: 2; /* Higher than the ::before element */
}
