.features-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5rem;
  background-color: #6DA9F0; /* Set background color */
  justify-content: center;
  align-items: center;
}

.text-slider-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
  padding-right: 2rem;
}

.text-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.text-description {
  font-size: 1.2rem;
  line-height: 1.5;
}

.slider-container {
  flex: 1;
  position: relative;
}

.slider-content {
  position: relative;
  height: 600px; /* Adjust height as needed */
  width: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 15px;
}

.right-arrow {
  right: 15px;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  margin: 0 5px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}

.dot.active {
  color: #FF8CA0;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  max-width: 1200px;
  margin-top: 3rem;
}

.feature-item {
  flex: 1;
  min-width: 250px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.feature-item p {
  font-size: 1rem;
  color: #666;
}
