.App {
    text-align: center;
    background-color: #1b0041;
    min-height: 100vh;
    color: white;
  } 
  
  .link{
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight:700;
    font-size: large;
    cursor: pointer;
  }